= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.text_field :name
  = f.label :surname
  = f.text_field :surname
  = f.label :pesel
  = f.text_field :pesel

  .actions
    = f.submit 'Save'
