%h1 Listing users

%table
  %tr
    %th Name
    %th Surname
    %th Pesel

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.surname
      %td= user.pesel
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete

%br

= link_to 'New User', new_user_path
