%html
  %head
    %title GTest
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, raw(msg), id: "flash_#{name}"
    = yield